# Database Configuration
MYSQL_DATABASE=berufoods
MYSQL_USER=sqluser
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root

# Mercure Configuration
MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost/.well-known/mercure
MERCURE_JWT_SECRET=!ChangeThisMercureHubJWTSecretKey!